html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #a30a0a;
    color: black;
    font-style: bold;
}

.header-button {
    display: inline-flex; /* Muuttaa linkin nappimaiseksi */
    align-items: center;
    justify-content: center;
    text-decoration: none; /* Poistaa alleviivauksen */
    background-color: #a30a0a00;
    color: black;
    height: 50px;
    width: 375px;
    cursor: pointer;
    font-weight: bold;
    font-size: 22px;
    border: none;
    text-align: center;
    border-radius: 5px; /* Jos haluat pyöristetyt reunat */
}

.header-button:hover {
    background-color: #bd0c0c;
}

.game-thumbnail{
    height: 250px;
}

.contact-text{
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}

.contact-box{
    display: inline-block;
    background-color: #bd0c0c;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    width: 20%;
    margin-left: 10%;
    margin-top: 5%;
    justify-items: center;

    cursor: pointer;
}

.div-headerthing{
    margin-top: 5%;
    margin-left: 12.5%;
    background-color: darkred;
    width: 75%;
    height: 250px;
    align-content: center;
}

.skills-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.div-about-me{
    display: flex;
    justify-content: flex-start;  /* Pitää laatikot vasemmalla */
    align-items: center;  /* Kohdistaa pystysuunnassa keskelle */
    gap: 5%;  /* Väli ison ja pienten laatikoiden välillä */
    margin-left: 5%;
    margin-top: 10%;
}

.big-box {
    width: 35%;
    height: 700px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    background-color: #bd0c0c;
}

.small-box {
    width: 100%;
    height: 45%;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    background-color: #bd0c0c;
}

.small-boxes{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 700px;
    margin-left: 10%;
}

.div-skills{
    display: inline-block;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    background-color: #bd0c0c;
    width: 40%;
    height: 400px;
    text-align: center;
}

.div-game{
    display: inline-block;
    margin-top: 5%;
    width: 70%;
    height: 400px;
    background-color: #bd0c0c;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

.div-game-thumbnail{
    display: inline-block;
    margin-left: 3%;
    cursor: pointer;
}

.div-game-info{
    display: inline-block;
    font-size: 15px;
}

.div-game-description{
    display: inline-block;
}

.div-game-content{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.game-name{
    font-size: 30px;
    font-weight: bold;
}

h1{
    text-align: center;
}

.label{
    font-weight: bold;
}

.value{
    
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal .game-img{
    width: 90%;
    height: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50%;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel-button.prev {
    left: 5%;
}

.carousel-button.next {
    right: 5%;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}